.modalCart{
    display: flex;
    flex-direction: column;
}
.header{
    display: flex;
    margin: 10px 10px 30px;
    justify-content: space-between;
}
.header input{
    height: 30px;
    padding: 5px 10px;
    outline: none;
}
.header h3{
    margin: 0;
}
.body textarea{
    width: 90%;
    height: 150px;
    padding: 5px 10px;
    resize: none;
    margin-bottom: 20px;
    outline: none;
    border-radius: 2px;
}
.buttons button{
    height: 30px;
    width: 60px;
    cursor: pointer;
    margin-left: 10px;
}
.footer{
    display:flex;
    justify-content: space-between;
}
select{
    cursor: pointer;
}
option {
    height: 30px;
}
.warning{
    border: 1px solid red;
    border-radius: 2px;
}