/*.cartsColumn{*/
/*    height: 81vh;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
.highlight{
    background-color: #cff1d2;
}
.cartContainer{
    width: 90%;
    margin: 10px auto;
    background-color: white;
    border: 1px solid #a59e9e;
    cursor: pointer;
    border-radius: 2px;
}

.cart{
    padding: 10px;
}
.cart h5{
    margin: 5px auto;
}
.cart p{
    margin: 10px auto;
}
.cart:hover{
    box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.75);
}
.test{
    transition: 0.4s;
    opacity: 0.5;
    background-color: #e6e6ff;
}