.searchContainer{
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    margin:8px auto 8px;
    position: relative;
}
.searchField input {
    height: 30px;
    /*width: 150px;*/
    padding-left: 5px;
    outline: none;
}

.dateSearch{
    /*border: 1px solid red;*/
    height: 49px;
    background-color: #b9bfd0;
    border-bottom: 1px solid #8686ea;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
}
.dateSearch input {
    margin: 0 10px;
}
.dateSearch .from{
    margin-left: 10px;
}
button {
    cursor: pointer;
    height: 30px;
}
/* arrow animation */
.dateDropDown{
    width: 80px;
}
.arrow {
    width: 16px;
    height: 12px;
    display: inline-block;
    position: relative;
    margin-left: 10px;
}

.arrow span {
    top: 0.5rem;
    position: absolute;
    width: 0.62rem;
    height: 0.1rem;
    background-color: #26364c;
    display: inline-block;
    transition: all 0.2s ease;
}

.arrow span:first-of-type {
    left: 0;
    transform: rotate(45deg);
}

.arrow span:last-of-type {
    right: 0;
    transform: rotate(-45deg);
}

.arrow.active span:first-of-type {
    transform: rotate(-45deg);
}

.arrow.active span:last-of-type {
    transform: rotate(45deg);
}