.dashboardContainer{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 6%;
}
.board{
    height: 76vh;
    border: 1px solid gray;
    overflow-y: auto;
}
.boardBacklog{
    background-color: #fff5f5;
}
.boardProgress{
    background-color: #e2fcff;
}
.boardDone{
    background-color: #ebffe9;
}
.dashboardContainer section h2{
    margin: 5px;
    text-align: center;
}