.dashboardContainer{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 6%;
}
.board{
    margin-top: 40px;
}
.dashboardContainer  h2{
    margin: 5px 10px;
    text-align: center;
    border-bottom: 1px solid gray;
}

/*=============================*/
@media only screen and (max-width: 900px) {
   .dashboardContainer{
       width: 92%;
       grid-gap: 4%;
   }
}