/* carts column */
.dropWrapper {
    height: 75vh;
    display: flex;
    flex-direction: column;
    border: 1px solid #948181;
    border-radius: 2px;
    overflow-y: auto;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 6px;
    scroll-behavior: smooth;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    scroll-behavior: smooth;
}
::-webkit-scrollbar-track:hover{
    width: 20px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #d6d2d2;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #999898;
    width: 15px;
}